# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. SAS

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Scikit-Learn
4. TensorFlow

| Data Science Tools |
| --- |
| Jupyter Notebook |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

### Addition
2 + 2

### Subtraction
5 - 3

### Multiplication
4 * 6

### Division
10 / 2

### Exponentiation
2 ** 3

### Modulo
7 % 3

In [4]:
# This is a simple arithmetic expression to multiply then add integers.
(3 * 4) + 5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60.
200 / 60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Introduce arithmetic expressions in Python.
- Create ordered and unordered lists in Markdown.
- Introduce Jupyter Notebook and its features.
- Use Markdown to format text in Jupyter Notebook.

## Author

Roberto Dip